---
##Set iptables
- sysctl: name=net.bridge.bridge-nf-call-ip6tables value=1 state=present reload=yes sysctl_set=yes
- sysctl: name=net.bridge.bridge-nf-call-iptables value=1 state=present reload=yes sysctl_set=yes

##Get the join command from the master
- shell: "cat /etc/kubeadm-join.sh"
  register: cat_kubeadm_join
  when: "inventory_hostname == 'kmaster'"

- name: debugging
  debug: var=groups['nodes']
  #debug: var=ansible_hostname
  #debug: var=hostvars['kmaster']


- set_fact:
    kubeadm_join: "{{cat_kubeadm_join.stdout}}"
  when: "inventory_hostname == 'kmaster'"

##Join nodes
- name: join nodes
  shell: >
     systemctl stop kubelet; kubeadm reset --force;
     echo "{{ hostvars['kmaster'].kubeadm_join }}" > /etc/kubeadm-join.sh ;
     bash /etc/kubeadm-join.sh
  args:
    #creates: /etc/kubeadm-join.sh
  when: "inventory_hostname != 'kmaster'"

##Checking nodes on master 
- name: checking all nodes up
  shell: >
      export KUBECONFIG=/etc/kubernetes/admin.conf;
      kubectl get nodes {{item}}
  register: result
  until: result.stdout.find("Ready") != -1
  retries: 100
  delay: 10
  with_items: "{{ groups['nodes'] }}"
  when: "inventory_hostname == 'kmaster'"
 